@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: "Henny Penny";
}

.quizheader {
  font-family: "Jersey 10";
  text-align: center;
  padding: 20px;
  font-size: 40px;
  color:#004cff;
}
body {
  background-color: #fff29a;
}
/* align the question text and the result text*/
#q1, #q2, #q3, #q4, #q5, #q6, #q7 {
  text-align: center;
  font-family: "Jersey 10";
  font-size: 30px;
}

#quiz, #result {
  text-align: center;
}
/* styles for the button */
button {
    margin: 10px auto;
    font-family: "Jersey 10";
    background-color: #ffe225;
    color: rgb(52, 38, 0);
    border: none;
    padding: 12px 20px;
    margin: 8px;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}
/* when i hover on the button, it changes color! */
button:hover {
    background-color: #ffcc00;
}

/*sizes the image of the car results*/
#carImage {
  width: 300px;
  height: auto;
  margin-top: 20px;
}

/* GREEN MAIN PAGE */
/*header & footer */
.headergreen, .footergreen {
  font-family: "Henny Penny";
  background-color: rgb(39, 151, 39);
  color: white;
  padding: 20px;
  text-align: center;
}

/* side bar*/
.sidebargreen {
  flex: 1;   
  background-color: rgb(180, 255, 174);
  padding: 20px;
}

/*main content section*/
.maingreen {
  flex: 3;
  padding: 20px;
  background-color: rgb(70, 233, 70);
}

/* RED MEDIA PAGE */
/*header & footer */
.headerred, .footerred {
  font-family: "Henny Penny";
  background-color: rgb(116, 1, 1);
  color: white;
  padding: 20px;
  text-align: center;
}

/* side bar*/
.sidebarred {
  flex: 1;   
  background-color: rgb(135, 0, 0);
  padding: 20px;
}

/*main content section*/
.mainred {
  flex: 3;
  padding: 20px;
  background-color: rgb(192, 0, 0);
}

/* BLUE INFO PAGE */
/*header & footer */
.headerblue, .footerblue {
  font-family: "Henny Penny";
  background-color: rgb(0, 2, 128);
  color: white;
  padding: 20px;
  text-align: center;
}

/* side bar*/
.sidebarblue {
  flex: 2;   
  background-color: rgb(109, 155, 255);
  padding: 20px;
}

/*main content section*/
.mainblue {
  flex: 2;
  padding: 20px;
  background-color: rgb(39, 48, 232);
}


/* flexbox part? https://www.w3schools.com/css/css3_flexbox.asp but idk how to make it so that they stack in mobile*/
.content {
  display: flex;  
}
/*media query for mobile*/
@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }
.headergreen img {
  width:100%;
}
.headerred img {
  width:100%;
}
.headerblue img {
  width:100%;
}
.mainred iframe {
  width:100%;
  place-items: center;
}
  /* .sidebar,
  .main {
    width: 100%;
  } */
}
